In [1]:
#ETL Project

In [2]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [3]:
#Extracting data from first source.
#A CSV file downloaded from ourworldindata.org with international arrivals into countries from 1995-2015

In [4]:
file_to_load = "Sources/total_arrivals_by _country_1995-2015.csv"

arrival_data = pd.read_csv(file_to_load)

#Renaming to something more readable
arrival_data=arrival_data.rename(columns={"Unnamed: 3":"Arrivals" , "Entity" : "Country"})

arrival_data.head()

   Country Code  Year  Arrivals
0  Albania  ALB  1995  304000.0
1  Albania  ALB  1996  287000.0
2  Albania  ALB  1997  119000.0
3  Albania  ALB  1998  184000.0
4  Albania  ALB  1999  371000.0

In [5]:
country_list=arrival_data.Country.unique()

In [6]:
len(country_list)

249

In [7]:
year_list=arrival_data.Year.unique()

In [8]:
year_list

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [9]:
#Dropping columns not used keeping only data for year 2015

arrival_data_2015 = arrival_data[arrival_data["Year"] == 2015]

#Renaming columns

arrival_data_2015=arrival_data_2015.rename(columns={"Arrivals":"Arrivals_2015"})

arrival_data_2015.head()

           Country Code  Year  Arrivals_2015
20         Albania  ALB  2015      4131000.0
41         Algeria  DZA  2015      1710000.0
59  American Samoa  ASM  2015        20300.0
76         Andorra  AND  2015      2670000.0
97          Angola  AGO  2015       592000.0

In [10]:
#Extracting data from second source.
#Web scraping table data from The World Bank website for population by country from 1960-2017

In [11]:
pop_url = 'https://en.wikipedia.org/wiki/List_of_countries_by_past_population_(United_Nations,_estimates)'
#Table of population is by 1000s
#Scraping html into dataframe
data_table = pd.read_html(pop_url)
population_table = data_table[0]
#Eliminating all years except 2015
population_table.drop(population_table.columns[[1,2,3,4,5,6,7,8,9,10,11,12,13,]], axis=1, inplace=True)
#Dropping rows not for individual countries
population_table = population_table.iloc[2:]
#Renaming columns to be more descrptive
population_table = population_table.rename(columns={0:"Country"})
population_table = population_table.rename(columns={14:"Population_2015"})
#adjusting for 1000s
population_table = population_table * [1 , 1000]

population_table.head()

          Country  Population_2015
2     Afghanistan         32527000
3         Albania          2897000
4         Algeria         39667000
5  American Samoa            56000
6         Andorra            70000

In [12]:
#Merging two dataframes by Country
merge_table = pd.merge(arrival_data_2015, population_table, on="Country")
#Creating a new column with the factor of Arrivals vs Population for the year 2015
merge_table['Arrival_Factor'] = merge_table['Arrivals_2015']/merge_table['Population_2015']

merge_table.head()

          Country Code  Year  Arrivals_2015  Population_2015  Arrival_Factor
0         Albania  ALB  2015      4131000.0          2897000        1.425958
1         Algeria  DZA  2015      1710000.0         39667000        0.043109
2  American Samoa  ASM  2015        20300.0            56000        0.362500
3         Andorra  AND  2015      2670000.0            70000       38.142857
4          Angola  AGO  2015       592000.0         25022000        0.023659

In [13]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [14]:
#Create Connection Engine

MySQL_root_PW = '00OliGavi'
MySQL_db = 'arrivalFactor'

MySQL_engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost:3306/"+MySQL_db)

In [15]:
#Send Final Table to mySQL database
merge_table.to_sql(
    name="Table_2015",
    con=MySQL_engine,
    if_exists='replace'
)

In [16]:
#Read back database from mySQL to verify its there
pd.read_sql("Table_2015", MySQL_engine)

,index,Country,Code,Year,Arrivals_2015,Population_2015,Arrival_Factor
0,0,Albania,ALB,2015,4131000.0,2897000,1.425958
1,1,Algeria,DZA,2015,1710000.0,39667000,0.043109
2,2,American Samoa,ASM,2015,20300.0,56000,0.362500
3,3,Andorra,AND,2015,2670000.0,70000,38.142857
4,4,Angola,AGO,2015,592000.0,25022000,0.023659
5,5,Antigua and Barbuda,ATG,2015,250000.0,92000,2.717391
6,6,Argentina,ARG,2015,5736000.0,43417000,0.132114
7,7,Armenia,ARM,2015,1192000.0,3018000,0.394964
8,8,Australia,AUS,2015,7444000.0,23969000,0.310568
9,9,Austria,AUT,2015,26719000.0,8545000,3.126858
10,10,Azerbaijan,AZE,2015,1922000.0,9754000,0.197047
11,11,Bahamas,BHS,2015,1484000.0,388000,3.824742
12,12,Bahrain,BHR,2015,11621000.0,1377000,8.439361
13,13,Barbados,BRB,2015,592000.0,284000,2.084507
14,14,Belarus,BLR,2015,102000.0,9496000,0.010741
15,15,Belgium,BEL,2015,8355000.0,11299000,0.739446
16,16,Belize,BLZ,2015,341000.0,359000,0.949861
17,17,Benin,BEN,2015,255000.0,10880000,0.023438
18,18,Bhutan,BTN,2015,155000.0,775000,0.200000
19,19,Bolivia,BOL,2015,882000.0,10725000,0.082238
20,20,Bosnia and Herzegovina,BIH,2015,678000.0,3810000,0.177953
21,21,Botswana,BWA,2015,1528000.0,2262000,0.675508
22,22,Brazil,BRA,2015,6306000.0,207848000,0.030339
23,23,Brunei,BRN,2015,218000.0,423000,0.515366
24,24,Bulgaria,BGR,2015,7099000.0,7150000,0.992867
25,25,Burkina Faso,BFA,2015,163000.0,18106000,0.009003
26,26,Burundi,BDI,2015,131000.0,11179000,0.011718
27,27,Cambodia,KHM,2015,4775000.0,15578000,0.306522
28,28,Canada,CAN,2015,17971000.0,35940000,0.500028
29,29,Cape Verde,CPV,2015,520000.0,521000,0.998081
...,...,...,...,...,...,...,...
134,134,South Africa,ZAF,2015,8904000.0,54490000,0.163406
135,135,South Korea,KOR,2015,13232000.0,50293000,0.263098
136,136,Spain,ESP,2015,68215000.0,46122000,1.479012
137,137,Sri Lanka,LKA,2015,1798000.0,20715000,0.086797
138,138,Sudan,SDN,2015,741000.0,40235000,0.018417
139,139,Suriname,SUR,2015,228000.0,543000,0.419890
140,140,Swaziland,SWZ,2015,873000.0,1287000,0.678322
141,141,Sweden,SWE,2015,6482000.0,9779000,0.662849
142,142,Switzerland,CHE,2015,9305000.0,8299000,1.121219
143,143,Tajikistan,TJK,2015,414000.0,8482000,0.048809
144,144,Tanzania,TZA,2015,1104000.0,53470000,0.020647
145,145,Thailand,THA,2015,29923000.0,67959000,0.440310
146,146,Togo,TGO,2015,273000.0,7305000,0.037372
147,147,Tonga,TON,2015,53800.0,106000,0.507547
148,148,Trinidad and Tobago,TTO,2015,440000.0,1360000,0.323529
149,149,Tunisia,TUN,2015,5359000.0,11254000,0.476186
150,150,Turkey,TUR,2015,39478000.0,78666000,0.501843
151,151,Tuvalu,TUV,2015,2400.0,10000,0.240000
152,152,Uganda,UGA,2015,1303000.0,39032000,0.033383
153,153,Ukraine,UKR,2015,12428000.0,44824000,0.277262
154,154,United Kingdom,GBR,2015,34436000.0,64716000,0.532110
155,155,United States,USA,2015,77510000.0,321774000,0.240883
156,156,United States Virgin Islands,VIR,2015,637000.0,106000,6.009434
157,157,Uruguay,URY,2015,2773000.0,3432000,0.807984
158,158,Vanuatu,VUT,2015,90000.0,265000,0.339623
159,159,Venezuela,VEN,2015,789000.0,31108000,0.025363
160,160,Vietnam,VNM,2015,7944000.0,93448000,0.085010
161,161,Yemen,YEM,2015,366700.0,26832000,0.013667
162,162,Zambia,ZMB,2015,932000.0,16212000,0.057488
163,163,Zimbabwe,ZWE,2015,2057000.0,15603000,0.131834